%header
  %h1 Обмен данными

%br
%h3 Выгрузка данных для партнеров

.alert.alert-error.alert-block
  %h4.alert-heading Нет данных для выгрузки
  По указанному вами запросу не найдено ни одного протокола для выгрузки. Пожалуйста уточните запрос и попробуйте ещё раз.

