-#.hero-unit
  %h1 
  %p
    Фильтровать по названию: 
    %input#go-to.xlarge{:name => "search", :size => "30", :type => "text"}  
%div.row
  %div.span12
    - @elections.each do |election|
      %h2
        = election.name
      %div.row
        %div.span12
          - election.commissions.roots.all(:order => :name).each do |commission|
            %div.tree-root
              %h4
                = link_to "#{commission.name}", :controller => "commissions", :action => "show", :id => commission.id  
