/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require twitter/bootstrap
 *= require_tree . 
 *= require_self
*/
body{
  background :image_url("background.png");
  position: relative;
//  padding-top: 90px;
}

h1,h2,h3,h4 {
  padding-top: 0.5em;
}

.container {
  padding: 0 25px;
}

header nav ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
header nav ul li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.hidden{
  display:none;
}

.picture{
  display: inline;
}

#pictures{
  display: block;
}

.gray {
  color: #AAAAAA;
}

.red {
  color: #9d261d;
}

.green {
  color: #46a546;
}


//.navbar-inner {
//  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9d261d), to(#ae372e));
//  background-image: -webkit-linear-gradient(top, #9d261d, #ae372e);
//}

a.ajax {
  text-decoration: none;
  border-bottom: 1px dashed #B2CCF0;
}

a:hover.ajax {
  text-decoration: none;
  border-bottom: none;
}

a { 
  text-decoration: underline;
  border-color: #B2CCF0;
}
a:hover { text-decoration: none }

a.btn { text-decoration: none }
a.btn:hover { text-decoration: underline }

a.brand { text-decoration: none }
a.brand:hover { text-decoration: underline }

.addthis_toolbox.addthis_default_style{
  padding: 10px 10px 11px; 
  line-height: 19px;
}

//form .clearfix:before, form .clearfix:after {
//  display: inline;
//}

// Twitter embeded

div.twtr-widget div.twtr-tweet-wrap {
  padding-left: 0px;
}

img.twtr-profile-img,.twtr-ft a img, .twtr-widget h3, .twtr-ft div, div.twtr-hd {
  display:none;
}

