// Place all the styles related to the folders controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

#uik_panel, #reserved_folders {
  position:absolute;
  right:0px;
  background-color:#DDD;
  width: 150px;
  padding: 10px;
}

#uik_panel { top:300px; }

#reserved_folders { top:100px; }

table.folders td {
  border:solid 1px;
  padding:1em;
}

h3.region { display:inline; }

.photo_checkbox{ display:none }
.pic-container{ 
     list-style: none;
     position: relative;
	float:left; 
	padding: 10px;
}
.pic-action{
	display:none; 
	position: absolute;
	left: 10px; 
	top: 10px;
}